
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #0A0A0C;
  background-repeat: no-repeat;
	font-family: Garamond;
	margin-bottom: 10%;
}

li {
	list-style-type: none;
}

a.nav {
	text-decoration: none;
}

a:visited, a {
	color: white;
}

button:hover {
	cursor: pointer;
}

#title {
	color: white;
	position: absolute;
	top: 1%;
	left: 1%;
	font-size: 3vw;
	text-shadow: 1px 1px black;
}

#pages {
	color: white;
	position: absolute;
	top: 1%;
	right: 1em;
	font-size: 1.5vw;
	word-spacing: 1em;
	text-shadow: 1px 1px black;
}


/* Lunch and Dinner title words */
#lunch, #dinner {
	font-size: 25px;
	color: lightgreen;
	margin-bottom: 30px;
}


/* ************** DROPDOWN ************* */
.dropButton {
	background-color: white;
	padding: 15px;
	font-size: 15px;
	cursor: pointer;
	width: 100%;
	text-align: left;
	position: relative;
	left: 4%;
	width: 96%;
}

.dropdownContent {
	display: none;
	position: relative;
	background-color: grey;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
	border: black solid 1px;
	width: 95.8%;
	left: 4%;
}

.items {
	padding: 12px 13px;
  text-decoration: none;
  display: block;
	grid-column-gap: 100px;
	box-sizing: border-box;
	border-bottom: black solid 1px;
	cursor: pointer;
	color: white;
}

.price {
	float: right;
}

.show {display:block;}

.lunch-container, .dinner-container {
	margin-top: 5%;
	margin-left: 1%;
	display: flex;
	flex-direction: column;
	max-width: 70%;
	box-sizing: border-box;
}

.lunch-container {
	padding-top: 5%;
}

.food-category {
	text-indent: 20px;
	padding-top: 20px;
	font-weight: bold;
}

.description {
	text-indent: 25px;
	font-size: 12px;
}


/* ************** Modal Stuff ************** */
.myModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background-color: white;
	color: black;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
	border-radius: 5px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.ordering {
	display: flex;
	flex-direction: column;
	font-size: 25px;
	font-weight: bold;
}

.choice {
	display: inline-flex;
}

#sp-instructions {
	display: block;
	margin-top: 10px;
	font-size: 15px;
	font-weight: normal;
}

textarea {
	max-width: 100%;
	width: 100%;
}

form {
	margin-top: 30px;
	margin-bottom: 10px;
	display: inline-flex;
}

form input {
	margin-right: 50px;
	width: 15px;
}

.choice button {
	width: 110px;
	height: 30px;
	margin: 15px 10px;
	border-radius: 5px;
	text-align: center;
	justify-content: space-between;
}

/* *************** SHOPPING CART ************** */
#total {
	padding-left: 50px;
}

#shopping-cart {
	color: white;
	border: solid white 3px;
	padding: 0px 30px;
	position: fixed;
	top: 17%;
	right: 1%;
}

#shopping-cart button {
	width: 100%;
	margin-bottom: 20px;
	font-size: 20px;
}

#shopping-cart p {
	margin-bottom: 40px;
	text-align: center;
	font-size: 30px;
}
